<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="cmpB9CA2A884C24ACB1F5DBAD6E40420BE6" Guid="{99298D35-DD40-4431-9651-05CA38D6F8BA}">
                <File Id="fil77C4CB027D1765ED090895932BC0F187" KeyPath="yes" Source="$(var.BasePath)\AppSdk.dll" />
            </Component>
            <Component Id="cmp70ED446EC5B9C4033CD6B7CFB6DA6C4B" Guid="{7F11450E-E1F4-4817-84A9-5216139D22FD}">
                <File Id="fil4934BE049258285DAD8A31C416DFD7A9" KeyPath="yes" Source="$(var.BasePath)\AsyncAwaitBestPractices.dll" />
            </Component>
            <Component Id="cmpE0D5C7A01BA4CD7EBDAE36A5D197AEBB" Guid="{8CF18EE4-9F9E-4020-B565-19E66C357520}">
                <File Id="fil6D73AD5ADFE06FD1FA0FA8F5B57F861F" KeyPath="yes" Source="$(var.BasePath)\AsyncAwaitBestPractices.MVVM.dll" />
            </Component>
            <Component Id="cmp4B5F8A4274C8812F3E8F389BEEAE5CB3" Guid="{5ECC6F74-A4EC-4C0E-8775-93823042CAA6}">
                <File Id="filF33340D06A7DC35C00D7D5A0D08689ED" KeyPath="yes" Source="$(var.BasePath)\AutoFixture.dll" />
            </Component>
            <Component Id="cmp639E8CDB7C8FA1B91C6A08D1D4D57E22" Guid="{851F7356-44A5-4FC3-AC74-7C09DFAA9B06}">
                <File Id="fil69A90E59B151503EF2918CEFE74CE5ED" KeyPath="yes" Source="$(var.BasePath)\Fare.dll" />
            </Component>
            <Component Id="cmp31821AFA30660DEC149EAC2CB847E29B" Guid="{0E6F3A4A-9B88-4707-B661-AAB4C42FE356}">
                <File Id="filE5C6CA374EAF1FA087C357528E988A2F" KeyPath="yes" Source="$(var.BasePath)\Framework.dll" />
            </Component>
            <Component Id="cmpF7338116FC193760218D5AFB22AD6D72" Guid="{D4AA242C-69B7-430C-86EE-7DC2A877161A}">
                <File Id="fil7ABDEB8995E5370263452D0C44A2EDF7" KeyPath="yes" Source="$(var.BasePath)\Framework.Jab.dll" />
            </Component>
            <Component Id="cmp54F41FBCF6338394DFE3CC7FD1CD28BF" Guid="{4A76CD8B-3447-45A8-8DFD-BE90114AC6C5}">
                <File Id="fil1E9150CE4045697D568A61008A83DDF8" KeyPath="yes" Source="$(var.BasePath)\Humanizer.dll" />
            </Component>
            <Component Id="cmpBAADFD088FFFEE8E613075A661A4FEDD" Guid="{D8746F91-FD3B-4234-B141-6DBCA8C144DE}">
                <File Id="fil86021CBB4C157716FB80ED197EF204BE" KeyPath="yes" Source="$(var.BasePath)\JetBrains.Annotations.dll" />
            </Component>
            <Component Id="cmp761E84C1B559CA86F09984DAB7DD7417" Guid="{5D91A1FE-C508-4488-B91A-B409463AA582}">
                <File Id="fil8D3A869498970CFEA14A3C4A5EE8E188" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.CSharp.dll" />
            </Component>
            <Component Id="cmp6C833287A1E08B9F9EFEAEAD7F4C6D1B" Guid="{C150959D-6CF4-44FC-9462-ECF864F11A7D}">
                <File Id="fil58FFF96556C703CB1A36BE1A9928D637" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.dll" />
            </Component>
            <Component Id="cmp942B1833838310FECD19E8746C9DE913" Guid="{A8E68DD8-1ADB-4F8C-9C97-4088A032433F}">
                <File Id="fil18403BEB9AAF8B3C43A43FF8CC5D1023" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CodeAnalysis.VisualBasic.dll" />
            </Component>
            <Component Id="cmpF36BEA91D9B51F1AEFF6EABF5004B1ED" Guid="{831716A7-DB70-4D9D-8D49-09D26480DF01}">
                <File Id="fil2FF9676211DA33F9CD2383D9A8BB6189" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpA89FE6421D6D6B7727D0DB769FBE9654" Guid="{D79C3C99-120D-406F-ADA9-B4715ED51864}">
                <File Id="filA3DF9CF069EA5CC67DDEF6C788E4CBD8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp8DCA618BD6FFB3D179A1F3B2D2168907" Guid="{FBB8C107-3F30-4000-8CD7-A7937F53647B}">
                <File Id="filBAF4C0CC61B054ED98296A974132E125" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyModel.dll" />
            </Component>
            <Component Id="cmp8023619BF05E7E2250B2ADDD8873028F" Guid="{39F5844F-841A-4D05-A631-6FA7FD95EB22}">
                <File Id="filD41C485184D44A27A55085AB7D065690" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Http.dll" />
            </Component>
            <Component Id="cmpD313D29EB1C966B3C0157543EEB743C8" Guid="{386D4AB1-19BE-43AA-986A-2F053FC9A21A}">
                <File Id="fil2F694B20B8D192D4766D70AE66EC65E9" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp7BAD79D4F3D56262B6C10F29F9B486DC" Guid="{FFA29632-F69B-4E01-B694-1B0C875EFDC0}">
                <File Id="fil08CA8EAA7192F9F3B31F4485AF0F6F52" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3571B214EC6B090E3C5C5D3DA857D167" Guid="{651EC668-F195-4406-86DF-72FF9E1C58C5}">
                <File Id="fil72C1358FE618CE5917765C83844CEF8C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp7532A9E1BAA8C2C321DC8273E144B58E" Guid="{895456B7-B767-4D32-B0C8-140FF6CE7FB4}">
                <File Id="filA99F7F324E94560661820ED37DF8A9AB" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp177ADC04AE527296011BADC3D1EF7A92" Guid="{1E4A133D-B3FB-419E-8E42-600D6B9447C9}">
                <File Id="filF7D2D0E007D90BA389202B6EB18E6DBE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpCE1557B5FB524EDAEDC1B243A1830E4F" Guid="{8173D6DE-13B6-486D-841A-DEB60AC58CC8}">
                <File Id="fil9A54E2B4942F5C0BE25696FF69E083F2" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Context.dll" />
            </Component>
            <Component Id="cmpD420CB748EDC9DA73792BBC037B2EA31" Guid="{51A0053E-812F-489E-9988-7AB8A3D395DE}">
                <File Id="fil8D9FE89E2802670698568CF35C8D5AB3" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Tasks.dll" />
            </Component>
            <Component Id="cmpFA2292908FC41355977C5E2156C14F07" Guid="{7CBA0CA3-D54D-45B0-AFCF-9A0A089E2AEE}">
                <File Id="fil3AD33370A9D1135BCB7ED87D4356CEA8" KeyPath="yes" Source="$(var.BasePath)\Nito.Disposables.dll" />
            </Component>
            <Component Id="cmpE3CE865D2616B3833560E03460378A47" Guid="{841B8C33-F113-4EF4-9CC5-630B0FDC056A}">
                <File Id="fil7C3ABABC32A3EDF78A3D760CDE6BDDCC" KeyPath="yes" Source="$(var.BasePath)\NugetSdk.dll" />
            </Component>
            <Component Id="cmp85611F10731E685654AC80D097C463BB" Guid="{E68B82E5-104B-4F0F-B917-BF5AAB5372DB}">
                <File Id="filA01B662ED2996BAFD6D259511FE222DC" KeyPath="yes" Source="$(var.BasePath)\Serilog.dll" />
            </Component>
            <Component Id="cmpB56F22D2E59E076D8FBF7AD8A551DB16" Guid="{223B070B-F9C3-4D14-AE65-78FFBA15B497}">
                <File Id="fil93739846C11F491764D29FB69661F21A" KeyPath="yes" Source="$(var.BasePath)\Serilog.Exceptions.dll" />
            </Component>
            <Component Id="cmp59C399C5491536DB79CA0193676AD978" Guid="{8AF0E5FE-7B57-4387-8112-C6AEBFC30C37}">
                <File Id="fil44381AAFCA58E63467453BDC45AD9D32" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmp55350D354FEEECF3B4218CAF211AF12F" Guid="{41425986-8B42-40FE-9CF5-60085183274B}">
                <File Id="filEA2AFDF18BA4570C2349460E7EAF34D7" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.Debug.dll" />
            </Component>
            <Component Id="cmpB64CF6C8E80267E81E36D3E3A90068F8" Guid="{3D604A4C-A85E-400F-99C4-FD43F8F41C3A}">
                <File Id="filEE4E6AEB15F654A9C5D28BCE36DD4AF8" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp9DE130E17CCDCCB44DD0F95078ACDE08" Guid="{0843C44E-DC36-4ECD-A314-5EECE27D5E5A}">
                <File Id="fil78718E8BB6CD0C9265D25743CD0DBC0B" KeyPath="yes" Source="$(var.BasePath)\System.Reactive.dll" />
            </Component>
            <Component Id="cmp6AAE53624606387DB8C0C33837B309AB" Guid="{6E93C641-56F6-457A-9ADB-BFA5139DAD8C}">
                <File Id="fil21A7E58EDADE135E37CE33005C53E17B" KeyPath="yes" Source="$(var.BasePath)\TypeCode.Business.dll" />
            </Component>
            <Component Id="cmpDEA64D53593CDE68E63F049B97817E2B" Guid="{3A0432DA-F030-4F82-8257-48EBD5DB9B9E}">
                <File Id="fil02DB27E293D1D822BBC94E52B4052FD6" KeyPath="yes" Source="$(var.BasePath)\TypeCode.Wpf.deps.json" />
            </Component>
            <Component Id="cmp61A624478847740DDCCC52A1EB3AC23E" Guid="{CF9E4560-C503-4927-ABCE-13884160B2D9}">
                <File Id="filDAA9DDD400F42BD512507CD57AB8FA74" KeyPath="yes" Source="$(var.BasePath)\TypeCode.Wpf.dll" />
            </Component>
            <Component Id="cmpE4212549130E172A10B83761A6D2EFCB" Guid="{2059A346-D1BD-40BB-98EC-14B3C5BA382B}">
                <File Id="filF8683ABFE988BBFC61BEAE0158E8886C" KeyPath="yes" Source="$(var.BasePath)\TypeCode.Wpf.exe" />
            </Component>
            <Component Id="cmpDFAE9F78D20D5A3766CAD11FD02FA5BD" Guid="{C3B447FE-6FEC-474F-9525-28167737ADCB}">
                <File Id="filC3EA07EC7317263989714AC29398521A" KeyPath="yes" Source="$(var.BasePath)\TypeCode.Wpf.runtimeconfig.json" />
            </Component>
            <Component Id="cmp9677A53252EDCDCDBA6D095CA0D11DA1" Guid="{8FC45071-F27A-4F5D-86A4-55C51EFE23DC}">
                <File Id="fil8BA859172805A48944F38AFF1C0018B8" KeyPath="yes" Source="$(var.BasePath)\Workflow.dll" />
            </Component>
            <Component Id="cmp2C9DE4A346131F8F3378868FAEF18733" Guid="{28BEF241-99D4-4691-8C88-99BA03D9B416}">
                <File Id="filD560A4F5EF571FB90FEE3E13A47B603D" KeyPath="yes" Source="$(var.BasePath)\Workflow.Jab.dll" />
            </Component>
            <Directory Id="dir04CFA674C1F419519A95E6B27F48E162" Name="Assets">
                <Directory Id="dir0AA4A6D9C16664180AA53F47DBA0B737" Name="Icons">
                    <Component Id="cmp139C8CB524422B576732555FC640D8C4" Guid="{975CD619-36AC-4CE3-8E07-1A15F39AAA29}">
                        <File Id="fil0A4D42C163246CFBB2E2946B078E8971" KeyPath="yes" Source="$(var.BasePath)\Assets\Icons\icon.ico" />
                    </Component>
                </Directory>
                <Directory Id="dirCE4E882FDB30D6C95165136049CDBD0F" Name="Images">
                    <Component Id="cmpD0EECC836E640A4621F4923E79F537F9" Guid="{F7F47226-0A02-49B0-994C-08AFCDA7B308}">
                        <File Id="fil9A9A1BB5F0E7FC72170616AB8C761155" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-1.png" />
                    </Component>
                    <Component Id="cmp98840E55F7F176CD08E04AB49305BD48" Guid="{3B2F77F2-3D5E-40C2-9250-6DF540AC8734}">
                        <File Id="fil9AFA0DF31FBBA8A7036920632BDDAAAB" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-2.png" />
                    </Component>
                    <Component Id="cmpC866FC8939902E50F783FE608439A3DC" Guid="{BAA082BD-135D-4A79-8B51-6061F4789B9E}">
                        <File Id="filF1A58E71416914171DEA39839C2057B4" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-3.png" />
                    </Component>
                    <Component Id="cmp1B5C85E804DCF40678240D7AE3A77DE9" Guid="{2DEE8E0A-34FD-49C1-8054-9E185410489C}">
                        <File Id="filBC671F864E3E4DF72E3366B767C3F1FC" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-4.png" />
                    </Component>
                    <Component Id="cmp2F6619E5329BC6F7361C2F6EE4054D97" Guid="{70DF896A-715B-4578-92DF-02086F8D9F56}">
                        <File Id="fil12CD2ADD6FE92025E000C8A7D7991BAC" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-5.png" />
                    </Component>
                    <Component Id="cmp5F9BE139FDFA9793DB7E838BB7836080" Guid="{C93EB32E-1E82-42B1-9FE4-813CC9B84AEF}">
                        <File Id="fil7B62A0E58924825E327083C4F3F3CCE8" KeyPath="yes" Source="$(var.BasePath)\Assets\Images\icon-6.png" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir969A4EFBB019470CBD8A1C0D51209ED5" Name="cs">
                <Component Id="cmpF070E5FE07273270BE708C61C047D52F" Guid="{8B4EA359-390D-4DA8-8A47-D1D0F6FE26ED}">
                    <File Id="filB9EB391261A144D6181F7507ECEF6C46" KeyPath="yes" Source="$(var.BasePath)\cs\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmp1381BAD01EFE29BCBB48783387D4AB81" Guid="{5314AEC0-B51A-4E5C-8652-FE83886C2DDA}">
                    <File Id="filA6704ABC50C81A1DD3C4CED2BCB29D96" KeyPath="yes" Source="$(var.BasePath)\cs\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmp92BC620433AB15AD42276DFC1D84C33F" Guid="{3AE57785-B893-4607-B1C5-5DAE10BA0CA2}">
                    <File Id="filB8D431C683EDFEBC1251B9208C7A9044" KeyPath="yes" Source="$(var.BasePath)\cs\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de">
                <Component Id="cmpCB3750A24162C14918A106FDE93F06B4" Guid="{84E0A8A4-29D6-43AC-92AC-5D57EF21DCA9}">
                    <File Id="fil49A5C3C839D224F1A8BB43CAA42E34B3" KeyPath="yes" Source="$(var.BasePath)\de\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmp610D3C81C164B0DB1787B39BADEB2D86" Guid="{1BFA0DF0-DA0A-4EAD-A1E9-693C308F5B02}">
                    <File Id="filE84B65D5E58C3EF23575532881ABFBB1" KeyPath="yes" Source="$(var.BasePath)\de\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpA8072988C188421A8F550A6BF5F5560F" Guid="{BB1C37AE-953D-40C4-B311-D3AAA3275B9F}">
                    <File Id="filCAE1D6595208985F9587F65542692BFE" KeyPath="yes" Source="$(var.BasePath)\de\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es">
                <Component Id="cmp051174C00B0B0C6659475D47964B91DC" Guid="{BA544119-292D-4D46-8A82-44F5B0F13454}">
                    <File Id="fil397FD23E36878F060E3AEE149BA4969B" KeyPath="yes" Source="$(var.BasePath)\es\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpCA2A0C5B6F41796197F230603F88E287" Guid="{CB43CF0F-82CA-4EFE-A099-CF1C6EE80E4E}">
                    <File Id="fil1C5A261C496B67BF121B9F678354F8C6" KeyPath="yes" Source="$(var.BasePath)\es\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmp60B08AC6FC439A4C464B8EC1C4D96876" Guid="{51C05755-BA45-4213-801E-D3F1724420CA}">
                    <File Id="fil0498940DD195A40E0481C6790D926C0A" KeyPath="yes" Source="$(var.BasePath)\es\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr">
                <Component Id="cmp514B74C9C5ED2C35AA45CDFD3F9155BA" Guid="{37D5ECEC-CAE6-4F9D-ACD1-D20CF0562AD7}">
                    <File Id="filE01838F35DDB34F5911E1DF83F7C6480" KeyPath="yes" Source="$(var.BasePath)\fr\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpE059734E1719A0FA1C9824D82549A39B" Guid="{3C3E2AFE-6635-455F-B2A0-1CD13B62233E}">
                    <File Id="fil3395A31368FFFFD75FADEBE2F513419D" KeyPath="yes" Source="$(var.BasePath)\fr\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpB35AEF0144ABD4155C3431B1C2B02CF8" Guid="{A054F242-F0D2-48E9-A83F-F8F50B66FFB2}">
                    <File Id="fil5E902C987EB3B16D51F896E20EE4E922" KeyPath="yes" Source="$(var.BasePath)\fr\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it">
                <Component Id="cmp898ED69A273E1D112771C5454AAFB26F" Guid="{799C523F-E02F-46B7-9876-7A3400C504E5}">
                    <File Id="filD73B114A27708BA3DE82B956CD30EC84" KeyPath="yes" Source="$(var.BasePath)\it\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpEC70F0AE3B10D5AAFA5C999913B945E7" Guid="{9FBFD070-F9FD-4AD1-9E32-1B28490F98BC}">
                    <File Id="fil8148AF5CACA6F8E93A133E0CA1AA9F0D" KeyPath="yes" Source="$(var.BasePath)\it\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpA841AE25597569326934B0786B485A4B" Guid="{CE893795-0168-4568-B7C6-43228794C08D}">
                    <File Id="fil4FE1050977B3A7C12E76B99857864BA2" KeyPath="yes" Source="$(var.BasePath)\it\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir250D607B4E859FD3B153389E856E9245" Name="ja">
                <Component Id="cmp30F40BAAD99E7613A28B1247C47E2187" Guid="{6C359DCB-10F3-4250-B5BB-D2BF804A7B7D}">
                    <File Id="fil73B1B9F6CCDB7942F9EFE67DD459ED37" KeyPath="yes" Source="$(var.BasePath)\ja\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpA82547B0A6894DB02F8FDD8D71245472" Guid="{AA1BB211-DF88-486B-AD5C-27F1104F39C6}">
                    <File Id="fil79AD8646658C7E65B5BB8D4CE5F00727" KeyPath="yes" Source="$(var.BasePath)\ja\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpC4B23148B7C55EC955CAA97026FCD31F" Guid="{875152C9-2492-4847-A586-A73DD429595F}">
                    <File Id="filF2A20B9EC4CD23C5D2DB9AA84AA72371" KeyPath="yes" Source="$(var.BasePath)\ja\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir68BD67567308D790DAE3C9405A87DE04" Name="ko">
                <Component Id="cmp515478F481C0925F6C4BC92C2204A26B" Guid="{DEE0C05A-D831-46C7-97D1-836C8830F9B3}">
                    <File Id="filA67CC2CA1C6209B5097A0A442BD48853" KeyPath="yes" Source="$(var.BasePath)\ko\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmp144F83D7CA010E2B8DF9C5641B40A496" Guid="{DBF3F2C7-4DB6-49AE-A030-FBDF248F23EA}">
                    <File Id="filCA02DFBCA8C93E7FA14EA5755F5720D1" KeyPath="yes" Source="$(var.BasePath)\ko\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmp3DDB385822F9A97AF14A42CC14F88356" Guid="{4AE6332E-9555-46B1-A0F3-B092B4C429FE}">
                    <File Id="filE78A2617FDC7831C1D19AE1795C11C41" KeyPath="yes" Source="$(var.BasePath)\ko\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA41A1CCCC1C8ED86112C15B4710A9CAD" Name="pl">
                <Component Id="cmp10142E491709D74CA6900B58FA0A334D" Guid="{C3017C52-4F81-4CD9-B39E-9E8D9887546B}">
                    <File Id="fil04C108EAD7569EB55EA5D4600A9406A0" KeyPath="yes" Source="$(var.BasePath)\pl\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpF155C955CA513F961B2EAF68CE7D69DE" Guid="{FB62B4E0-DFCF-4607-8D4B-F525190CACDC}">
                    <File Id="fil278E4A4375F53C00D00E0983292E0CFA" KeyPath="yes" Source="$(var.BasePath)\pl\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpA8197122348483CA145E0A4BA9D68761" Guid="{38EA5256-630A-418C-BF55-927388E7EAEB}">
                    <File Id="filCAC08AFC30E9EDBC2BFD085F8E43914C" KeyPath="yes" Source="$(var.BasePath)\pl\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA43D9BF55E6375A261066CE5487B2FD5" Name="pt-BR">
                <Component Id="cmpB0684F2FC299701E33C3A5EA7926B5B3" Guid="{2B829FB5-AAAE-40F2-ACBF-3B789DF7A083}">
                    <File Id="fil8564EE4B818E5085A9A6869DE2FBB528" KeyPath="yes" Source="$(var.BasePath)\pt-BR\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpF99D323B166B2290A13FEBE5382FA966" Guid="{C32B9D2B-B867-4DBD-885F-8EDD39A35EE8}">
                    <File Id="fil4242914CA9371FDCBDE683BE6762D918" KeyPath="yes" Source="$(var.BasePath)\pt-BR\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpB879C6CE8D397F7132C9DA93645D5906" Guid="{AC1BF875-1E9E-4FB9-BB66-EC6B5C88DE2D}">
                    <File Id="filD8DC639C9BF4ABE73631C07B7AB68F55" KeyPath="yes" Source="$(var.BasePath)\pt-BR\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir113445E6F89EECCCAD68A52BB70F8EF9" Name="ru">
                <Component Id="cmpB36FE05A11FFF10CE5262BF1B2DA0388" Guid="{9FA5A5FD-BFBA-4544-AA67-7D62FCDDCA0B}">
                    <File Id="fil22454F9DF21AF4264DAD17CE26B0A144" KeyPath="yes" Source="$(var.BasePath)\ru\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmp8582A25CBCD9083F9FAB90E9C742B486" Guid="{6057EE5A-4D1C-4019-9FC3-8E52CC86EBE5}">
                    <File Id="fil29633EFF6999D3D2EF73F47C9C61176E" KeyPath="yes" Source="$(var.BasePath)\ru\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpEB3B383D66EE69982BD927F3EF662DD3" Guid="{9AEC2278-6786-4454-9B22-34008373DAB1}">
                    <File Id="fil98194B5E96141084C07DB2658FD44AF9" KeyPath="yes" Source="$(var.BasePath)\ru\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3967E0CDC830ED12EE5AEDEF49E48286" Name="tr">
                <Component Id="cmpC99AB441CE49457EF223BBBFE2D21C8E" Guid="{5B08A75C-F18C-46B7-A6C7-5D35023330EE}">
                    <File Id="filF0D21D785A5016814AA3666F7E53B0DF" KeyPath="yes" Source="$(var.BasePath)\tr\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpB60A1C2F09A9B0985A8E265D7A73DAA1" Guid="{9DA42E82-CF2D-4ED7-95D3-CBDFCAF4940F}">
                    <File Id="fil559D3C394FC10B4B835560A1C6B5B59C" KeyPath="yes" Source="$(var.BasePath)\tr\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmpCC8B49ED3DC6AACA03F958F25D22C558" Guid="{E587A620-244C-4AFF-B80C-8FF6DEAA7DD6}">
                    <File Id="fil3A128CF9353A0636AFA5C5AB6EB9B9E7" KeyPath="yes" Source="$(var.BasePath)\tr\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD8D18BE0CBE3A171A18753A5B5985BB4" Name="zh-Hans">
                <Component Id="cmp1054364476098B706E22A0771CF02E35" Guid="{85B29507-CCBB-492B-82AD-B2AB43437B5D}">
                    <File Id="fil3FA8258E12EC9DC8DE5380208578505F" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmp891E6AD19D31E0688259727580E51CAC" Guid="{97C8F907-80EB-4E2D-8B6C-EA3D247898E0}">
                    <File Id="fil9733F7267E9E2B6F65E264E992586B26" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmp54996846EBA3EDC0FDC6A0A4AD380763" Guid="{2929652F-3D92-4266-81C2-64C45F9273B4}">
                    <File Id="filF6E7742B0E7E4B145FA0A75FFAD087B1" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir0A56E1DCE96682D4EA5091E415D1089C" Name="zh-Hant">
                <Component Id="cmp7A45F655B73CFDC7482C6AF8D7785EA9" Guid="{DCB06EBE-F0BA-4963-BE5B-D48B13D7DDD6}">
                    <File Id="filB1FBF16E6B42C9D1B8BD3937EB4800A7" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\Microsoft.CodeAnalysis.CSharp.resources.dll" />
                </Component>
                <Component Id="cmpFC6307D028DCC739C8A33398F8C1D2F1" Guid="{2DAE6D7A-B7E0-4A98-A285-ADC8D8388415}">
                    <File Id="filFE66FC55EF97FACCA23807676D6A6CCE" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\Microsoft.CodeAnalysis.resources.dll" />
                </Component>
                <Component Id="cmp2EEFABEF47ACAAC60A16C6547ECDE012" Guid="{E75364DF-46CD-44D9-B2A7-73E6E1B2ED37}">
                    <File Id="fil6D7A67A7F153B6FD8DA55FFC6615DB4F" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\Microsoft.CodeAnalysis.VisualBasic.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmpB9CA2A884C24ACB1F5DBAD6E40420BE6" />
            <ComponentRef Id="cmp70ED446EC5B9C4033CD6B7CFB6DA6C4B" />
            <ComponentRef Id="cmpE0D5C7A01BA4CD7EBDAE36A5D197AEBB" />
            <ComponentRef Id="cmp4B5F8A4274C8812F3E8F389BEEAE5CB3" />
            <ComponentRef Id="cmp639E8CDB7C8FA1B91C6A08D1D4D57E22" />
            <ComponentRef Id="cmp31821AFA30660DEC149EAC2CB847E29B" />
            <ComponentRef Id="cmpF7338116FC193760218D5AFB22AD6D72" />
            <ComponentRef Id="cmp54F41FBCF6338394DFE3CC7FD1CD28BF" />
            <ComponentRef Id="cmpBAADFD088FFFEE8E613075A661A4FEDD" />
            <ComponentRef Id="cmp761E84C1B559CA86F09984DAB7DD7417" />
            <ComponentRef Id="cmp6C833287A1E08B9F9EFEAEAD7F4C6D1B" />
            <ComponentRef Id="cmp942B1833838310FECD19E8746C9DE913" />
            <ComponentRef Id="cmpF36BEA91D9B51F1AEFF6EABF5004B1ED" />
            <ComponentRef Id="cmpA89FE6421D6D6B7727D0DB769FBE9654" />
            <ComponentRef Id="cmp8DCA618BD6FFB3D179A1F3B2D2168907" />
            <ComponentRef Id="cmp8023619BF05E7E2250B2ADDD8873028F" />
            <ComponentRef Id="cmpD313D29EB1C966B3C0157543EEB743C8" />
            <ComponentRef Id="cmp7BAD79D4F3D56262B6C10F29F9B486DC" />
            <ComponentRef Id="cmp3571B214EC6B090E3C5C5D3DA857D167" />
            <ComponentRef Id="cmp7532A9E1BAA8C2C321DC8273E144B58E" />
            <ComponentRef Id="cmp177ADC04AE527296011BADC3D1EF7A92" />
            <ComponentRef Id="cmpCE1557B5FB524EDAEDC1B243A1830E4F" />
            <ComponentRef Id="cmpD420CB748EDC9DA73792BBC037B2EA31" />
            <ComponentRef Id="cmpFA2292908FC41355977C5E2156C14F07" />
            <ComponentRef Id="cmpE3CE865D2616B3833560E03460378A47" />
            <ComponentRef Id="cmp85611F10731E685654AC80D097C463BB" />
            <ComponentRef Id="cmpB56F22D2E59E076D8FBF7AD8A551DB16" />
            <ComponentRef Id="cmp59C399C5491536DB79CA0193676AD978" />
            <ComponentRef Id="cmp55350D354FEEECF3B4218CAF211AF12F" />
            <ComponentRef Id="cmpB64CF6C8E80267E81E36D3E3A90068F8" />
            <ComponentRef Id="cmp9DE130E17CCDCCB44DD0F95078ACDE08" />
            <ComponentRef Id="cmp6AAE53624606387DB8C0C33837B309AB" />
            <ComponentRef Id="cmpDEA64D53593CDE68E63F049B97817E2B" />
            <ComponentRef Id="cmp61A624478847740DDCCC52A1EB3AC23E" />
            <ComponentRef Id="cmpE4212549130E172A10B83761A6D2EFCB" />
            <ComponentRef Id="cmpDFAE9F78D20D5A3766CAD11FD02FA5BD" />
            <ComponentRef Id="cmp9677A53252EDCDCDBA6D095CA0D11DA1" />
            <ComponentRef Id="cmp2C9DE4A346131F8F3378868FAEF18733" />
            <ComponentRef Id="cmp139C8CB524422B576732555FC640D8C4" />
            <ComponentRef Id="cmpD0EECC836E640A4621F4923E79F537F9" />
            <ComponentRef Id="cmp98840E55F7F176CD08E04AB49305BD48" />
            <ComponentRef Id="cmpC866FC8939902E50F783FE608439A3DC" />
            <ComponentRef Id="cmp1B5C85E804DCF40678240D7AE3A77DE9" />
            <ComponentRef Id="cmp2F6619E5329BC6F7361C2F6EE4054D97" />
            <ComponentRef Id="cmp5F9BE139FDFA9793DB7E838BB7836080" />
            <ComponentRef Id="cmpF070E5FE07273270BE708C61C047D52F" />
            <ComponentRef Id="cmp1381BAD01EFE29BCBB48783387D4AB81" />
            <ComponentRef Id="cmp92BC620433AB15AD42276DFC1D84C33F" />
            <ComponentRef Id="cmpCB3750A24162C14918A106FDE93F06B4" />
            <ComponentRef Id="cmp610D3C81C164B0DB1787B39BADEB2D86" />
            <ComponentRef Id="cmpA8072988C188421A8F550A6BF5F5560F" />
            <ComponentRef Id="cmp051174C00B0B0C6659475D47964B91DC" />
            <ComponentRef Id="cmpCA2A0C5B6F41796197F230603F88E287" />
            <ComponentRef Id="cmp60B08AC6FC439A4C464B8EC1C4D96876" />
            <ComponentRef Id="cmp514B74C9C5ED2C35AA45CDFD3F9155BA" />
            <ComponentRef Id="cmpE059734E1719A0FA1C9824D82549A39B" />
            <ComponentRef Id="cmpB35AEF0144ABD4155C3431B1C2B02CF8" />
            <ComponentRef Id="cmp898ED69A273E1D112771C5454AAFB26F" />
            <ComponentRef Id="cmpEC70F0AE3B10D5AAFA5C999913B945E7" />
            <ComponentRef Id="cmpA841AE25597569326934B0786B485A4B" />
            <ComponentRef Id="cmp30F40BAAD99E7613A28B1247C47E2187" />
            <ComponentRef Id="cmpA82547B0A6894DB02F8FDD8D71245472" />
            <ComponentRef Id="cmpC4B23148B7C55EC955CAA97026FCD31F" />
            <ComponentRef Id="cmp515478F481C0925F6C4BC92C2204A26B" />
            <ComponentRef Id="cmp144F83D7CA010E2B8DF9C5641B40A496" />
            <ComponentRef Id="cmp3DDB385822F9A97AF14A42CC14F88356" />
            <ComponentRef Id="cmp10142E491709D74CA6900B58FA0A334D" />
            <ComponentRef Id="cmpF155C955CA513F961B2EAF68CE7D69DE" />
            <ComponentRef Id="cmpA8197122348483CA145E0A4BA9D68761" />
            <ComponentRef Id="cmpB0684F2FC299701E33C3A5EA7926B5B3" />
            <ComponentRef Id="cmpF99D323B166B2290A13FEBE5382FA966" />
            <ComponentRef Id="cmpB879C6CE8D397F7132C9DA93645D5906" />
            <ComponentRef Id="cmpB36FE05A11FFF10CE5262BF1B2DA0388" />
            <ComponentRef Id="cmp8582A25CBCD9083F9FAB90E9C742B486" />
            <ComponentRef Id="cmpEB3B383D66EE69982BD927F3EF662DD3" />
            <ComponentRef Id="cmpC99AB441CE49457EF223BBBFE2D21C8E" />
            <ComponentRef Id="cmpB60A1C2F09A9B0985A8E265D7A73DAA1" />
            <ComponentRef Id="cmpCC8B49ED3DC6AACA03F958F25D22C558" />
            <ComponentRef Id="cmp1054364476098B706E22A0771CF02E35" />
            <ComponentRef Id="cmp891E6AD19D31E0688259727580E51CAC" />
            <ComponentRef Id="cmp54996846EBA3EDC0FDC6A0A4AD380763" />
            <ComponentRef Id="cmp7A45F655B73CFDC7482C6AF8D7785EA9" />
            <ComponentRef Id="cmpFC6307D028DCC739C8A33398F8C1D2F1" />
            <ComponentRef Id="cmp2EEFABEF47ACAAC60A16C6547ECDE012" />
        </ComponentGroup>
    </Fragment>
</Wix>