<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define TypeCode_TargetDir=$(var.TypeCode.Wpf.TargetDir)?>

    <Product Id="*"
             Name="TypeCode"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="byCrookie"
             UpgradeCode="9f57777b-619a-41c8-afec-d7f7412d4047">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser"/>

        <MajorUpgrade
                AllowDowngrades="no" DowngradeErrorMessage="!(loc.NewerVersionInstalled)"
                AllowSameVersionUpgrades="yes"/>

        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="9f57777b-619a-41c8-afec-d7f7412d4047">
            <UpgradeVersion
                    Minimum="1.0.0.0" Maximum="99.0.0.0"
                    Property="PREVIOUSVERSIONSINSTALLED"
                    IncludeMinimum="yes" IncludeMaximum="no"/>
        </Upgrade>

        <!--        <InstallExecuteSequence>-->
        <!--            <RemoveExistingProducts Before="InstallInitialize" />-->
        <!--        </InstallExecuteSequence>-->

        <Icon Id="icon.ico" SourceFile="$(var.SolutionDir)\src\TypeCode.Wpf\Assets\Icons\icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico"/>

        <UIRef Id="WixUI_Advanced"/>
        <Property Id="ApplicationFolderName" Value="TypeCode"/>
        <Property Id="WixAppFolder" Value="WixPerMachineFolder"/>
        <WixVariable Id="WixUISupportPerUser" Value="0"/>
        <WixVariable Id="WixUILicenseRtf" Value="Assets\License.rtf"/>
        <WixVariable Id="WixUIBannerBmp" Value="Assets\Banner.bmp"/>
        <WixVariable Id="WixUIDialogBmp" Value="Assets\Dialog.bmp"/>

        <MediaTemplate EmbedCab="yes"/>

        <Feature Id="ProductFeature" Title="TypeCode.Wpf" Level="1" Absent='disallow'>
            <ComponentGroupRef Id="Binaries"/>
        </Feature>

        <Feature Id="MenuShortcut" Title="TypeCode.Wpf Menu Shortcut" Level="1">
            <ComponentRef Id="ApplicationShortcut"/>
        </Feature>

        <Feature Id="DesktopShortcut" Title="TypeCode.Wpf Desktop Shortcut" Level="2">
            <ComponentRef Id="ApplicationShortcutDesktop"/>
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONFOLDER" Name="TypeCode">
                    <Directory Id="Assets" Name="Assets">
                        <Directory Id="Assets_Icons" Name="Icons"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="TypeCode"/>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="TypeCode" Description="TypeCode"
                          Target="[APPLICATIONFOLDER]TypeCode.Wpf.exe" WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder"
                              On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\TypeCode.Wpf" Name="installed" Type="integer" Value="1"
                               KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
                <Shortcut Id="ApplicationDesktopShortcut" Name="TypeCode" Description="TypeCode"
                          Target="[APPLICATIONFOLDER]TypeCode.Wpf.exe" WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\TypeCode.Wpf" Name="installed" Type="integer" Value="1"
                               KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
