<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <add key="localPackages" value="M:\Development\Nuget\Packages" />
        <add key="github" value="https://nuget.pkg.github.com/byCrookie/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="byCrookie" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>

</configuration>