<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="localPackages" value="M:\Development\Nuget\Packages" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="localPackages">
            <package pattern="byCrookie.*" />
        </packageSource>
        <packageSource key="byCrookie_Github">
            <package pattern="byCrookie.*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="byCrookie.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

</configuration>